services:
  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - todo-network

  backend:
    build: ./back-end-todo
    container_name: backend-todo
    env_file:
      - ./back-end-todo/.env
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    networks:
      - todo-network

  frontend:
    build: ./front-end-todo
    container_name: frontend-todo
    ports:
      - "5174:5174"
    depends_on:
      - backend
    networks:
      - todo-network

volumes:
  mongo_data:

networks:
  todo-network:
    driver: bridge
